<template>
  <div id="app">
  </div>
</template>

<script>
import Velocity from 'velocity-animate'
import Under from 'underscore'

export default {
  name: 'app',
  data () {
    return {
      Velocity,
      Under
    }
  }
}
</script>

<style lang="scss">
@import 'assets/custom.scss';
body {
  margin: 0;
}
</style>
